wss.url=https://saas.whitesourcesoftware.com/agent
apiKey=fceb37eb-3ffc-4f2b-b80e-bd5e865d9a40

##################################
# Product section
##################################
productName=AppScan Issue Gateway - NodeJS

##################################
# Project section
##################################
projectName=1.1.2

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/**
case.sensitive.glob=false
followSymbolicLinks=true
excludes=**/node_modules **/*.cmd **/*.ps1 **/src/test **/testdata **/*sources.jar **/*javadoc.jar

##########################################
# General Scan settings
##########################################
checkPolicies=false
forceCheckAllDependencies=false
offline=false

##################################
# Archive properties
##################################
archiveExtractionDepth=1
archiveIncludes=**/*.zip **/*.jar **/*.vsix **/*.war **/*.ear

##########################################
# Files and Package Managers
##########################################
bower.resolveDependencies=false

#npm.resolveDependencies=false
#npm.ignoreSourceFiles=false
#npm.includeDevDependencies=true
#npm.runPreStep=true
#npm.ignoreNpmLsErrors=true
#npm.ignoreScripts=true
#npm.yarnProject=true
#npm.accessToken=
#npm.identifyByNameAndVersion=true
#npm.yarn.frozenLockfile=true
#npm.resolveMainPackageJsonOnly=true
npm.resolveDependencies=true
npm.ignoreSourceFiles=true